.markdownEditor {
  background: WhiteSmoke;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-size: 1.2vw;

  .dark {
    color: WhiteSmoke;
    background: #152025;
  }

  .editorHeader {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    background: black;
    padding: 0.25rem 2rem;
    font-size: 1rem;

    input {
      background: WhiteSmoke;
      border: none;
      font-size: 1rem;
    }

    button {
      border: none;
      background: none;
      color: LightSteelBlue;

      &:hover {
        color: WhiteSmoke;
      }
    }

    .separator {
      width: 0.1rem;
      height: 1.2rem;
      background: LightSteelBlue;
      opacity: 0.6;
      margin-left: 0.2rem;
      margin-right: 0.2rem;
    }
  }

  .mainWrapper {
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    width: 100%;

    .editor {
      flex: 0 min-content;
      box-sizing: border-box;
      height: 100%;
      border-right: 0.2rem solid rgba(72, 209, 204, 0.5);
      .text {
        color: inherit;
        background: inherit;
        font-size: 1rem;
        font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, monospace;
        box-sizing: border-box;
        // temporary fix
        width: 50vw;
        height: 100%;
        padding: 2rem;
        margin: none;
        border: none;
        resize: horizontal;
      }
    }
    .previewWrapper {
      flex: 1 1;
      box-sizing: border-box;
      height: 100%;
      padding: 0;
      .preview {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 2rem;
        overflow-wrap: break-word;
        overflow: auto;
        font-family: Palladio, Georgia, Times, serif;
        font-size: 1rem;
      }
    }
  }

  .footer {
    display: flex;
    color: LightSteelBlue;
    background: black;
    height: 1.2rem;
    font-family: Gill Sans, Helvetica, sans-serif;
  }
}
